<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestAll">
    <test name="case1">
        <classes>
            <class name="com.minhtung.core.testapi.LoginTest"/>
            <class name="com.minhtung.core.testapi.ListenGuidelineTest"/>
            <class name="com.minhtung.core.testapi.reviewHashMap"/>
        </classes>
    </test>
</suite>